* {
    margin: 0;
    padding: 0;
}
/* EM CONSTRUÇÃO */
body {
    display: flex;
    background-color: #313131;
    color: #ffffff;
    font-family: sans-serif;

    justify-content: center;
    align-items: center;
}
