* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;

    color: #f5f5f5;
    background-color: #080808;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    margin-bottom: 0.6em;
}

.header-form .nav-btn {
    color: #ffffff;
    border: none;
    font-weight: bolder;
    font-size: 26px;
    cursor: pointer;
    background-color: transparent;
}

.container {
    width: 30%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #3f3f3f;
    border: solid 0.1em;
    border-radius: 4%;
    border-color: #141414;
}

.formulary {
    display: flex;
    flex-direction: column;
    gap: 20px;

    /* width: 90%;
    height: 90%; */
}
.form-row {
    display: flex;
    flex-direction: column;
    width: 24vw;

    gap: 0.3em;
    color: #f5f5f5;
}

input {
    border: none;
    border-radius: 20px;
    height: 2em;
    padding-left: 10px;
    color: #ffffff;
    background-color: #000000;
}

.form-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    border: solid 0.1em;
    border-color: #000000;
    border-radius: 6px;

    cursor: pointer;
    background-color: #000000;
    color: #f5f5f5;
    /* font-size: 16px; */
    font-weight: bolder;

    width: 10em;
    height: 3em;
}

.forget-psswd {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 14px;
}

.alerta {
    font-family: sans-serif;
    color: #ff0000;
    font-size: 14px;
    font-weight: bolder;
}