{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <title>Entrar</title>
</head>
<body class="bg-light">
    <div id="carouselExampleCaptions" class="carousel slide container d-flex flex-column mt-5 rounded-3 border p-0" data-bs-ride="carousel">
        <!-- Botões de controle -->
        <div class="btn-group d-flex" role="group" aria-label="Basic example">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="pageNavigation btn btn-outline-primary active" aria-current="true" aria-label="Slide 1">Login</button>
            <button type="button" data-bs-target="#carouselExampleCaptions" class="pageNavigation btn btn-outline-primary" data-bs-slide-to="1" aria-label="Slide 2" href="./registrar/">Registro</button>
        </div>
        
        
        <div class="carousel-inner bg-light">
            <!-- PÁGINA DE LOGIN -->
            <div class="carousel-item active" data-bs-interval="99999999999">
                <div class="p-5">
                    <div class="tab-pane fade show" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="text" pattern="^(?=.{2,20})[A-Za-z0-9._@!-]+" name="user_email" id="loginName" class="form-control" required/>
                                <label class="form-label" for="loginName">Email ou username</label>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input type="password" name="password" id="loginPassword" class="form-control" required/>
                                <label class="form-label" for="loginPassword">Senha</label>
                            </div>
                            {% if bool == True %}
                                <div class="alert alert-danger" id="alert_login" role="alert">
                                    {{mensagem}}
                                </div>
                            {% endif %}

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4 d-block m-auto">Entrar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="9999999999">
                
                <!-- PÁGINA DE CADASTRO -->
                <div class="p-5">
                    <form class="formulary" action="{% url 'registrar' %}" method="POST">
    	                {% csrf_token %}

                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <input type="text" name="name" id="registerName" class="form-control" spellcheck="false" required/>
                            <label class="form-label" for="registerName">Nome</label>
                        </div>

                        <!-- Username input -->
                        <div class="form-outline mb-4">
                            <input type="text" onchange="checkUsername()" name="username" id="registerUsername" class="form-control" spellcheck="false" required/>
                            <label class="form-label" for="registerUsername">Usuário</label>
                            <div class="alert alert-danger d-none" id="alert_user" role="alert">
                                O usuário informado já existe, por favor digite outro.
                            </div>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" onchange="checkEmail()" name="email" id="registerEmail" class="form-control" spellcheck="false" required/>
                            <label class="form-label" for="registerEmail">Email</label>
                            <div class="alert alert-danger d-none" id="alert_email" role="alert">
                                O email informado já existe, por favor verifique o email digitado.
                            </div>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input oninput="verifyPassword()" type="password" name="password" id="psw1" class="form-control" spellcheck="false" required/>
                            <label class="form-label" for="psw1">Senha</label>
                        </div>

                        <!-- Repeat Password input -->
                        <div class="form-outline mb-4">
                            <input oninput="verifyPassword()" type="password" id="psw2" class="form-control" spellcheck="false" required/>
                            <label class="form-label" for="psw2">Confirmar senha</label>
                        </div>
                        <div class="alert alert-danger d-none" id="alert_pswd" role="alert">
                            As senhas precisam ser iguais!
                        </div>
                        
                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-center mb-4">
                            <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                            aria-describedby="registerCheckHelpText" required/>
                            <label class="form-check-label" for="registerCheck">
                            Eu li e aceito os termos de uso
                            </label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" id="btn-submit" class="btn btn-primary btn-block mb-3 d-block m-auto">Registrar-se</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        //Page Navigation 
        document.querySelectorAll(".pageNavigation").forEach(function(button) {
            button.addEventListener("click", function(event) {
                document.querySelectorAll(".pageNavigation").forEach((el) => el.classList.remove("active"))
                const el = event.target || event.srcElement
                el.classList.add("active")
            });
        });

        //Check if User exists
        function checkUsername(){
            let valor = document.getElementById("registerUsername").value
            let users = []
            //Cria uma Array de usuarios que estão no banco
            "{% for user in users %}"
                users.push("{{ user.usuario }}")
            "{% endfor %}"
            if (users.indexOf(valor) !== -1){
                document.getElementById("alert_user").classList.remove('d-none')
                document.getElementById('btn-submit').disabled=true
            }
            // else if (){////////////////////////////////////////////////////
            //
            // }
            else{
                document.getElementById("alert_user").classList.add('d-none')
                document.getElementById('btn-submit').disabled=false
            }    
        }
        //Check if Email exists
        function checkEmail(){
            let valor = document.getElementById("registerEmail").value
            let alert_user = document.getElementById("alert_user").classList.value
            let alert_email = document.getElementById("alert_pswd").classList.value
            let emails = []
            //Cria uma Array de emails que estão no banco
            "{% for user in users %}"
                emails.push('{{ user.email }}')
            "{% endfor %}"
            // Se o email existir
            if (emails.indexOf(valor) !== -1){
                document.getElementById("alert_email").classList.remove('d-none')
                document.getElementById('btn-submit').disabled=true
            // }
            //Se o alert do username ou do email não estiverem ativos
            // else if (! alert_user.includes("d-none") && ! alert_pswd.includes("d-none")){////////////////////////////////////////////////////
            //     document.querySelector('#alert_email').classList.add("d-none")
            //     document.querySelector('#btn-submit').disabled=true
            }else{
                document.getElementById("alert_email").classList.add('d-none')
                document.getElementById('btn-submit').disabled=false
            }    
        }


        //2-steps verification
        function verifyPassword(){
            let psw1 = document.querySelector("#psw1").value
            let psw2 = document.querySelector("#psw2").value
            if (psw1 != psw2){
                document.querySelector('#alert_pswd').classList.remove("d-none")
                document.querySelector('#btn-submit').disabled=true
            }else if (! document.getElementById("alert_email").classList.value.includes("d-none")){
                document.querySelector('#btn-submit').disabled=true
                document.querySelector('#alert_pswd').classList.add("d-none")
            }else{
                document.querySelector('#alert_pswd').classList.add("d-none")
                document.querySelector('#btn-submit').disabled=false
            }
        }
    </script>
</body>
</html>
