{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style-register.css' %}">
    <title>Registro</title>
</head>
<body>
    <div class="header-form">
        <a href="../login/"> <button class="nav-btn" type="button">Entrar</button></a>
        <a href="../registrar/"> <button class="nav-btn" type="button" style="border-bottom: .2rem solid;">Criar conta</button></a>
    </div>

    <div class="container">
        <form class="formulary" action="{% url 'registrar' %}" method="POST">
    	    {% csrf_token %}

            <div class="form-row">
                <label for="" class="label-user">Usuário:</label>
                <input type="text" name="user" id="user">
            </div>

            <div class="form-row">
                <label for="" class="label-email">E-mail:</label>
                <input type="email" id="email" name="email">
            </div>

            <div class="form-row">
                <label for="" class="label-password">Senha:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="form-row">
                <label for="" class="label-password">Confirme a senha:</label>
                <input type="password" onchange="Verify_psswd()" id="confirm-password" name="password" required>
            </div>
            
            <div class="form-bottom">
                <button id="btn-submit" type="submit" >Criar conta</button>
            </div>

            <div>
                <label id="alerta"></label>
            </div>

        </form>
    </div>
    <script>

        function Verify_psswd(){
            var psswd = document.getElementById("password").value;
            var c_psswd = document.getElementById("confirm-password").value;
            let btn = document.querySelector("#btn-submit")
            var alerta = document.getElementById("alerta");
            if (psswd != c_psswd) {
                btn.disabled = true
                alerta.innerHTML = "Por favor insira uma senha!";
            
            }
            else {
                btn.disabled = false
                alerta.innerHTML = "Por favor insira uma senha!";
            }
            return false;
        }
    </script>
</body>
</html>